<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodstall">
        <activity
            android:name=".Uadd_money"
            android:exported="false" />
        <activity
            android:name=".UreviewActivity"
            android:exported="false" />
        <activity
            android:name=".Upayment_methodActivity"
            android:exported="false" />
        <activity
            android:name=".Uconfirm_orderActivity"
            android:exported="false" />
        <activity
            android:name=".UeditprofileActivity"
            android:exported="false" />
        <activity
            android:name=".UeditprofileActivity"
            android:exported="false" />
        <activity
            android:name=".UsettingsActivity"
            android:exported="false" />
        <activity
            android:name=".UsettingsActivity"
            android:exported="false" />
        <activity
            android:name=".UviewmenuActivity"
            android:exported="false" />
        <activity
            android:name=".UwalletActivity"
            android:exported="false" />
        <activity
            android:name=".UordersActivity"
            android:exported="false" />
        <activity
            android:name=".UhomeActivity"
            android:exported="false" />
        <activity
            android:name=".AccessActivity"
            android:exported="false" />
        <activity
            android:name=".OSignupActivity"
            android:exported="false" />
        <activity
            android:name=".USignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>